/* CSS Document */
body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, table, tr, td, hr, fieldset, input, img {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

input, img {
  outline: none; }

.fi_header {
  width: 100%;
  height: 30px;
  position: relative;
  background: #eeeeee; }
  .fi_header .fi_header_dingone {
    position: absolute;
    width: 64px;
    height: 30px;
    background: #fff;
    left: 1083px;
    top: 0;
    font-size: 12px;
    line-height: 30px;
    color: #64a131;
    text-align: center;
    display: none; }
  .fi_header .fi_header_left {
    width: 314px;
    height: 30px;
    float: left; }
    .fi_header .fi_header_left .fi_header_left_shanghai {
      width: 75px;
      height: 30px;
      margin-left: 73px;
      float: left;
      position: relative; }
      .fi_header .fi_header_left .fi_header_left_shanghai .iconfont {
        font-size: 15px;
        color: #64a131;
        line-height: 30px;
        margin-left: 5px; }
      .fi_header .fi_header_left .fi_header_left_shanghai .one {
        font-size: 12px;
        color: #999999;
        line-height: 30px; }
      .fi_header .fi_header_left .fi_header_left_shanghai .two {
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-top: 8px solid #999999;
        position: absolute;
        top: 12px;
        right: 6px; }
    .fi_header .fi_header_left .fi_header_left_shanghai:hover {
      background: white; }
    .fi_header .fi_header_left p {
      font-size: 12px;
      color: #999999;
      float: left;
      line-height: 30px;
      margin-left: 10px;
      margin-right: 5px; }
    .fi_header .fi_header_left a {
      font-size: 12px;
      line-height: 30px;
      color: #64a131; }
    .fi_header .fi_header_left a:hover {
      text-decoration: underline; }
  .fi_header .fi_header_right {
    float: right;
    margin-right: 80px;
    font-size: 12px;
    line-height: 30px; }
    .fi_header .fi_header_right a {
      color: #999999;
      margin-right: 3px;
      margin-left: -7px; }
      .fi_header .fi_header_right a i {
        color: #64a131;
        margin-right: 7px; }
    .fi_header .fi_header_right span {
      margin-left: 16px; }
    .fi_header .fi_header_right a:hover {
      color: orange; }
      .fi_header .fi_header_right a:hover span {
        color: #999999; }

.fi_search {
  width: 100%;
  height: 120px;
  background: #ffffff;
  position: relative; }
  .fi_search .me_address {
    position: absolute;
    width: 210px;
    height: 300px;
    background: #fff;
    left: 73px;
    top: 0;
    z-index: 200;
    box-shadow: 0 0 8px #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none; }
    .fi_search .me_address .fi_a {
      height: 46px;
      background: #fff;
      font-size: 13px;
      color: #a2a2a2;
      line-height: 46px;
      padding-left: 14px; }
    .fi_search .me_address .fi_b {
      height: 30px;
      width: 189px;
      margin-left: 10px;
      background: #f1f1f1;
      font-size: 13px;
      color: #555;
      line-height: 30px;
      padding-left: 14px; }
    .fi_search .me_address .fi_c {
      height: 30px;
      width: 189px;
      margin-left: 10px;
      background: #fff;
      font-size: 13px;
      color: #555;
      line-height: 30px;
      padding-left: 14px; }
  .fi_search .me_notice {
    position: absolute;
    left: 898px;
    top: 0;
    background: #fff;
    display: none;
    width: 240px;
    height: 158px;
    z-index: 2;
    box-shadow: 0 0 8px; }
    .fi_search .me_notice ul li {
      width: 221px;
      height: 37px;
      background: #fff;
      line-height: 37px;
      margin-left: 13px;
      border-bottom: 1px dashed #ddd; }
    .fi_search .me_notice ul .ulp {
      border: none;
      color: #64a131;
      text-align: center; }
  .fi_search .fi_search_left {
    width: 417px;
    height: 120px;
    float: left; }
    .fi_search .fi_search_left a {
      display: block;
      width: 100%;
      height: 100%;
      background: url("http://www.fruitday.com/images/common/logo.svg") no-repeat center center;
      background-size: 300px,84px; }
  .fi_search .fi_search_center {
    width: 450px;
    height: 120px;
    float: left; }
    .fi_search .fi_search_center ul li {
      float: left;
      width: 89px;
      height: 120px; }
      .fi_search .fi_search_center ul li a {
        display: block;
        width: 89px;
        height: 41px;
        margin-top: 5px;
        text-align: center;
        margin-top: 40px;
        border-right: 1px solid #eeeeee;
        font-size: 14px;
        color: #999999;
        position: relative; }
        .fi_search .fi_search_center ul li a span {
          position: absolute; }
        .fi_search .fi_search_center ul li a .two {
          left: 23px;
          top: 17px; }
        .fi_search .fi_search_center ul li a .three {
          left: 28px;
          top: 17px; }
        .fi_search .fi_search_center ul li a .four {
          left: 25px;
          top: 17px; }
        .fi_search .fi_search_center ul li a .five {
          left: 32px;
          top: 17px; }
        .fi_search .fi_search_center ul li a .six {
          left: 17px;
          top: 17px; }
      .fi_search .fi_search_center ul li .seven {
        border: none; }
      .fi_search .fi_search_center ul li a:hover {
        background: #eeeeee; }
      .fi_search .fi_search_center ul li .nine {
        color: #64a131; }
    .fi_search .fi_search_center ul .eight {
      height: 118px;
      border-bottom: 2px solid #64a131; }
  .fi_search .fi_search_right {
    width: 370px;
    height: 120px;
    float: right; }
    .fi_search .fi_search_right input {
      width: 182px;
      height: 27px;
      margin-left: 47px;
      margin-top: 43px;
      border: none;
      border-bottom: 1px solid #999999;
      text-indent: 4px;
      color: #333333;
      font-size: 12px;
      background: url("../imgs/home/search.jpg") no-repeat 158px 6px; }
    .fi_search .fi_search_right ul {
      margin-left: 50px;
      font-size: 12px;
      color: #999999; }
      .fi_search .fi_search_right ul li {
        float: left;
        line-height: 20px; }
        .fi_search .fi_search_right ul li a {
          color: #999999;
          margin-right: 8px; }
        .fi_search .fi_search_right ul li a:hover {
          text-decoration: underline; }
    .fi_search .fi_search_right #shopping {
      width: 37px;
      height: 41px;
      background: #64a131;
      margin-left: 255px;
      margin-top: -25px;
      border-radius: 70%;
      position: relative; }
      .fi_search .fi_search_right #shopping i {
        margin-left: 5px;
        margin-top: 4px;
        font-size: 26px;
        display: block;
        padding-top: 7px;
        color: #fdfefd; }
      .fi_search .fi_search_right #shopping span {
        position: absolute;
        left: 14px;
        top: -2px;
        color: #fdfefd; }

.fi_footer {
  width: 100%;
  height: 477px;
  background: #fff; }
  .fi_footer .fi_footer_top {
    height: 104px; }
    .fi_footer .fi_footer_top ul {
      height: 104px;
      margin-left: 72px; }
      .fi_footer .fi_footer_top ul li {
        width: 320px;
        height: 104px;
        float: left;
        border-bottom: 1px solid #ddd; }
        .fi_footer .fi_footer_top ul li div {
          width: 320px;
          height: 60px;
          margin-top: 20px;
          border-right: 1px solid #dddddd; }
        .fi_footer .fi_footer_top ul li .fi_footer_one {
          background: url("../imgs/home/icon.png") no-repeat;
          background-position: 45px 0px; }
        .fi_footer .fi_footer_top ul li .fi_footer_two {
          background: url("../imgs/home/icon.png") no-repeat;
          background-position: 45px -56px; }
        .fi_footer .fi_footer_top ul li .fi_footer_three {
          background: url("../imgs/home/icon.png") no-repeat;
          background-position: 45px -121px; }
        .fi_footer .fi_footer_top ul li .fi_footer_four {
          border: none;
          background: url("../imgs/home/icon.png") no-repeat;
          background-position: 45px -180px; }
  .fi_footer .fi_footer_center {
    width: 100%;
    height: 196px; }
    .fi_footer .fi_footer_center .fi_footer_center_con {
      width: 1282px;
      height: 196px;
      margin: 0 auto;
      border-bottom: 1px solid #dddddd; }
      .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_left {
        width: 594px;
        height: 196px;
        float: left; }
        .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_left .fi_footer_maone {
          margin-left: 246px;
          margin-top: 20px;
          float: left; }
          .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_left .fi_footer_maone span {
            font-size: 13px;
            margin-top: 12px;
            display: block;
            margin-left: 13px;
            color: #9999b2; }
        .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_left .fi_footer_matwo {
          margin-left: 415px;
          margin-top: -159px;
          float: left; }
          .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_left .fi_footer_matwo span {
            font-size: 13px;
            margin-top: 12px;
            display: block;
            margin-left: 13px;
            color: #9999b2; }
      .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_right {
        width: 688px;
        height: 196px;
        float: left; }
        .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_right ul li {
          float: left;
          width: 118px;
          height: 196px; }
          .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_right ul li dl {
            text-align: center; }
            .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_right ul li dl dt {
              line-height: 52px;
              margin-top: 16px;
              color: #33338c;
              font-size: 15px; }
            .fi_footer .fi_footer_center .fi_footer_center_con .fi_footer_center_right ul li dl dd {
              line-height: 30px;
              color: #999;
              font-size: 14px; }
  .fi_footer .fi_footer_bottom {
    text-align: center;
    position: relative; }
    .fi_footer .fi_footer_bottom p {
      margin-top: 18px;
      color: #a599b2;
      font-size: 14px; }
      .fi_footer .fi_footer_bottom p .aaa {
        color: #a599b2; }
    .fi_footer .fi_footer_bottom h6 {
      float: left;
      font-size: 14px;
      color: #64a131;
      margin-left: 652px;
      margin-top: 13px; }
    .fi_footer .fi_footer_bottom .bbb {
      display: block;
      position: absolute;
      left: 654px;
      top: 60px; }
      .fi_footer .fi_footer_bottom .bbb img {
        width: 48px;
        height: 48px; }

.fi_fix {
  position: fixed;
  bottom: 2px;
  right: 0;
  background: url(../imgs/home/kf.png) no-repeat;
  width: 35px;
  height: 109px; }
  .fi_fix .exchange {
    background: black;
    margin-top: 0px;
    z-index: 9999;
    opacity: 0;
    width: 34px;
    height: 34px;
    display: block; }
  .fi_fix .advisory {
    background: blue;
    margin-top: 37px;
    z-index: 9999;
    opacity: 0;
    width: 34px;
    height: 34px;
    display: block; }
  .fi_fix .return_top {
    background: red;
    margin-top: 74px;
    z-index: 9999;
    opacity: 0;
    width: 34px;
    height: 34px;
    display: block; }

.pop-up {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 512px;
  height: 276px;
  background: #fff;
  opacity: 0;
  z-index: -111; }
  .pop-up .pop_up_top {
    width: 512px;
    height: 40px;
    background: #eaeaea;
    position: relative; }
    .pop-up .pop_up_top a {
      position: absolute;
      right: 6px;
      top: -11px;
      font-size: 47px;
      display: block;
      color: #545454;
      text-decoration: none; }
  .pop-up .pop_up_center {
    width: 512px;
    height: 107px;
    position: relative; }
    .pop-up .pop_up_center h1 {
      width: 69px;
      height: 80px;
      margin-left: 86px;
      margin-top: 21px;
      background: url("../imgs/home/icons.png") no-repeat;
      background-position: 0px -242px;
      float: left; }
    .pop-up .pop_up_center h2 {
      font-size: 29px;
      color: #555;
      margin-left: 116px;
      position: absolute;
      left: 82px;
      top: 48px; }
  .pop-up .pop_up_middle {
    margin-left: 146px; }
    .pop-up .pop_up_middle p {
      font-size: 18px;
      color: #ababab;
      line-height: 45px;
      float: left; }
    .pop-up .pop_up_middle span {
      float: left;
      font-size: 18px;
      margin-top: 10px;
      color: #f6ab00; }
  .pop-up #login_one {
    display: block;
    width: 148px;
    height: 40px;
    border: 1px solid #64a131;
    border-radius: 3px;
    margin-left: 78px;
    background: #f5ffed;
    font-size: 17px;
    color: #64a131;
    margin-top: 58px;
    line-height: 40px;
    text-align: center;
    text-decoration: none; }
  .pop-up #login_two {
    display: block;
    width: 148px;
    margin-left: 253px;
    height: 40px;
    background: #64a131;
    border-radius: 3px;
    font-size: 17px;
    color: #eff4ec;
    margin-top: -40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center; }

/*# sourceMappingURL=common.css.map */
