.fi_box {
  width: 100%;
  height: 202px; }
  .fi_box .fi_fruit {
    width: 1283px;
    height: 202px;
    background: #ffffff;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc; }
    .fi_box .fi_fruit a {
      margin-right: 27px;
      margin-top: 10px;
      display: block;
      float: left; }
    .fi_box .fi_fruit .ten {
      margin-right: 0; }

.carousel-indicators li {
  width: 18px;
  height: 18px;
  border: 1px solid #64a131; }

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  background: #64a131; }

.carousel-inner .item img {
  width: 100%;
  height: 400px; }

.carousel {
  position: relative; }

.fi_banner {
  position: absolute;
  width: 311px;
  height: 400px;
  left: 0;
  top: 0; }

.fi_shop {
  width: 100%;
  height: 740px; }
  .fi_shop .fi_shop_home {
    width: 1283px;
    height: 740px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc; }
    .fi_shop .fi_shop_home .fi_shop_top {
      height: 66px;
      background: #fff; }
      .fi_shop .fi_shop_home .fi_shop_top .fi_shop_top_left {
        float: left;
        margin-top: 18px; }
      .fi_shop .fi_shop_home .fi_shop_top .fi_shop_top_right {
        float: right;
        font-size: 14px;
        color: #333333;
        margin-top: 31px; }
    .fi_shop .fi_shop_home .fi_shop_center {
      height: 311px; }
      .fi_shop .fi_shop_home .fi_shop_center ul {
        height: 312px;
        cursor: pointer; }
        .fi_shop .fi_shop_home .fi_shop_center ul li {
          width: 247px;
          height: 312px;
          background: white;
          float: left;
          margin-right: 12px;
          position: relative; }
          .fi_shop .fi_shop_home .fi_shop_center ul li div {
            width: 247px;
            height: 247px;
            float: left;
            overflow: hidden; }
            .fi_shop .fi_shop_home .fi_shop_center ul li div img {
              display: block;
              width: 247px;
              height: 247px; }
          .fi_shop .fi_shop_home .fi_shop_center ul li p {
            color: #555555;
            line-height: 34px;
            font-size: 14px; }
          .fi_shop .fi_shop_home .fi_shop_center ul li h6 {
            color: #a2a2a2;
            font-size: 12px; }
          .fi_shop .fi_shop_home .fi_shop_center ul li h1 {
            width: 36px;
            height: 36px;
            background: url("../imgs/home/icons.png") no-repeat;
            background-position: -515px -239px;
            position: absolute;
            right: 0;
            bottom: 14px; }
        .fi_shop .fi_shop_home .fi_shop_center ul .fi_shop_center_point {
          margin-right: 0; }
        .fi_shop .fi_shop_home .fi_shop_center ul li:hover img {
          transform: scale(1.1);
          transition: all 0.5s; }
