.fi_search {
  box-shadow: 0 3px 5px #f1f1f1; }

.th_section {
  width: 1005px;
  height: 538px;
  margin: 47px auto; }
  .th_section .th_section_top {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #a59999;
    border-bottom: 1px solid #ccc; }
  .th_section .th_section_bottom {
    height: 478px;
    width: 1005px; }
    .th_section .th_section_bottom .th_left {
      width: 612px;
      height: 478px;
      float: left;
      background: url("../imgs/fun/huiyuan.jpg") no-repeat 0 38px; }
    .th_section .th_section_bottom .th_right {
      width: 393px;
      height: 478px;
      float: left;
      position: relative; }
      .th_section .th_section_bottom .th_right form {
        margin-top: 18px; }
        .th_section .th_section_bottom .th_right form label {
          width: 90px;
          display: inline-block;
          text-align: left;
          font-size: 16px;
          color: #999;
          font-weight: 100; }
        .th_section .th_section_bottom .th_right form input {
          width: 294px;
          height: 36px;
          margin-top: 26px; }
        .th_section .th_section_bottom .th_right form .th_entery {
          height: 97px; }
          .th_section .th_section_bottom .th_right form .th_entery a {
            display: block;
            float: left;
            width: 143px;
            height: 38px;
            margin-top: 15px; }
          .th_section .th_section_bottom .th_right form .th_entery .th_entry_left {
            width: 143px;
            height: 38px;
            background: #64a131;
            font-size: 18px;
            color: #fff;
            border-radius: 5px;
            margin-left: 91px;
            margin-right: 14px;
            line-height: 38px;
            text-align: center; }
          .th_section .th_section_bottom .th_right form .th_entery .th_entry_right {
            width: 143px;
            height: 38px;
            border: 1px solid #64a131;
            font-size: 18px;
            color: #7bae55;
            border-radius: 5px;
            line-height: 38px;
            text-align: center;
            background: #f5ffed; }

.fi_footer_top li {
  border-top: 1px solid #ddd; }

.nocode {
  display: inline-block;
  width: 1000px;
  height: 25px; }

#code {
  display: inline-block;
  color: #ff0000;
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 79px;
  height: 36px;
  margin-left: 307px;
  margin-top: -36px;
  float: left;
  line-height: 25px;
  cursor: pointer;
  border: 1px solid #e2b4a2;
  background: #e2b4a2; }

.th_section .th_section_bottom .th_right form .th_aaa {
  float: left;
  width: 219px;
  height: 36px;
  margin-left: 90px; }

.guding {
  position: absolute;
  left: 0px;
  top: 237px;
  font-size: 16px;
  color: #999; }

.phone {
  background: #eee;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 218px; }
