.fi_search{
	box-shadow: 0 3px 5px #f1f1f1 ;
}
.th_section{
	width:1005px;
	height:538px;
	margin:47px auto;
	.th_section_top{
		height:60px;
		line-height: 60px;
		font-size: 20px;
		color:#a59999;
		border-bottom: 1px solid #ccc;
	}
	.th_section_bottom{
		height:478px;
		width:1005px;
		.th_left{
			width:612px;
			height:478px;
			float:left;
			background: url('../imgs/fun/huiyuan.jpg') no-repeat 0 38px;
		}
		.th_right{
			width:393px;
			height:478px;
			float: left;
			position: relative;
			form{
				margin-top: 47px;
				label{
					width:90px;
					display:inline-block;
					text-align: left;
					font-size: 16px;
					color:#999;
					font-weight: 100;
				}
				input{
					width:294px;
					height:36px;
					margin-top: 26px;
				}
				#th_login{
					width:18px;
					height: 18px;
					margin-left: 92px;
					margin-top: 38px;
				}
				span{
					margin-top: -23px;
					margin-left: 120px;
					display:block;
					font-size: 16px;
					color:#999;
					width:90px;
				}
				.th_remove_left{
					left:240px;
					top:210px;
					position:absolute;
				}
				.th_remove_right{
					left:310px;
					top:210px;
					position:absolute;
				}
				.th_entery{
					height:97px;
					a{
						display: block;
						float: left;
						width:143px;
						height:38px;
						margin-top: 15px;
					}
					.th_entry_left{
						width:143px;
						height:38px;
						background: #64a131;
						font-size: 18px;
						color:#fff;
						border-radius: 5px;
						margin-left: 91px;
						margin-right: 14px;
						line-height: 38px;
						text-align: center;
					}
					.th_entry_right{
						width:143px;
						height:38px;
						border:1px solid #64a131;
						font-size: 18px;
						color:#7bae55;
						border-radius: 5px;
						line-height: 38px;
						text-align: center;
						background: #f5ffed;
					}
				}
			}
		}
	}
}
.fi_footer_top li{
	border-top: 1px solid #ddd;
}